<section data-ng-controller="EditProfileController" ng-init="findOne()">
<h1>Personas</h1>
<!-- 	<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" autocomplete="off">
				<fieldset>
				<div layout="row" layout-wrap>
					<div layout="column" layout-align="center center">
						<md-input-container>
							<label for="firstName">Nombre</label>
							<input type="text" id="firstName" name="firstName" data-ng-model="user.firstName" placeholder="First Name">
						</md-input-container>
					</div>
					<div layout="column" layout-align="center center">
						<md-input-container>
							<label for="lastName">Apellido</label>
							<input type="text" id="lastName" name="lastName" data-ng-model="user.lastName" placeholder="Last Name">
						</md-input-container>
					</div>
				</div>
				<div layout="row" layout-wrap>
					<div layout="column" layout-align="center center">
						<md-input-container>
							<label for="username">Usuario</label>
							<input type="text" id="username" name="username" data-ng-model="user.username" placeholder="Username">
						</md-input-container>
					</div>
					<div layout="column" layout-align="center center">
						<md-input-container>
							<label for="email">Email</label>
							<input type="email" id="email" name="email" data-ng-model="user.email" placeholder="Email">
						</md-input-container>
					</div>
				</div>
				<div layout="row" layout-wrap>
					<div layout="column" layout-align="center center">
						<md-input-container>
							<label for="email">Estado</label>
							<input type="email" ng-disabled="true" id="status" name="status" data-ng-model="user.status" placeholder="Email">
						</md-input-container>
					</div>
				</div>
				<div layout="row">
					<md-button flex="33" ng-click="activarUsuario()" type="button" class="md-raised md-primary" layout-fill>
						<span ng-show="user.status === 'pending'">Activar y actualizar usuario</span>
						<span ng-show="user.status === 'active'">Actualizar usuario</span>
					</md-button>
				</div>


				
				</fieldset>
	</form> -->
</section>