<section data-ng-controller="TareasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="tarea.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == tarea.user._id">
		<a class="btn btn-primary" data-ui-sref="tareas.edit({tareaId: tarea._id})">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="tarea.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="tarea.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="tarea.content"></p>
</section>
