<md-bottom-sheet data-ng-controller="EnterprisesController" ng-init="find()">
    <form data-ng-submit="create()" novalidate>
        <fieldset>
            <div layout="row" layout-wrap>
                <div layout="row" layout-wrap>
                    <md-input-container flex="35">
                        <label for="name">Razón Social</label>
                        <input type="text" data-ng-model="name" id="name" required>
                    </md-input-container>
                    <md-input-container flex="35">
                        <label for="description">Descripción</label>
                        <input type="text" data-ng-model="description" id="description">
                    </md-input-container>
                    <md-input-container flex="15">
                        <label for="fiscalNumber">Número fiscal (CUIT)</label>
                        <input type="text" data-ng-model="fiscalNumber" id="fiscalNumber" required>
                    </md-input-container>
                    <md-input-container flex="15">
                        <label for="taxCondition">Condición de IVA</label>
                        <input type="text" data-ng-model="taxCondition" id="taxCondition">
                    </md-input-container>
                    <md-input-container flex="40" style="padding-top:16px">
                        <input places-auto-complete on-place-changed="placeChanged(place)" ng-model="address"/>
                    </md-input-container>
                    <md-input-container flex="15">
                        <label for="postalCode">Código Postal</label>
                        <input type="text" data-ng-model="postalCode" id="postalCode">
                    </md-input-container>
                    <md-input-container flex>
                        <label for="email">Email</label>
                        <input type="email" data-ng-model="email" id="email">
                    </md-input-container>
                    <md-input-container flex>
                        <label for="phone">Teléfono</label>
                        <input type="text" data-ng-model="phone" id="phone">
                    </md-input-container>
                    <md-input-container flex>
                        <label for="fax">Fax</label>
                        <input type="text" data-ng-model="fax" id="fax">
                    </md-input-container>
                    <md-input-container flex>
                        <label for="web">Sitio Web</label>
                        <input type="url" data-ng-model="web" id="web">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="center">
                <md-button type="submit" class="md-raised md-primary">Crear</md-button>
            </div>
            <div layout="row" layout-align="center" data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</md-bottom-sheet>
