<section data-ng-controller="TaxconditionsController" data-ng-init="findOne()" layout-padding>
    <div>
        <h3>Editar Condición</h3>
    </div>
    <div>
        <form data-ng-submit="update()" novalidate>
            <fieldset>
                <div layout="column" layout-wrap>
                    <div layout="row" layout-wrap>
                        <div flex="50">
                            <label>Empresa: </label><p data-ng-bind="taxcondition.enterprise.name"></p>
                        </div>
                        <div layout="column" layout-align="right" flex="50">
                          <div layout="column" layout-align="right" style="">
                            <md-select ng-model="enterprise" md-on-open="findEnterprises()" style="min-width: 200px;" id="enter" placeholder="Cambiar Empresa">
                              <!-- <md-select-label>{{ enterprise ? enterprise.name : 'Cambiar empresa' }}</md-select-label> -->
                              <md-option ng-value="enterprise" ng-repeat="enterprise in enterprises | filter: { deleted: false }">{{enterprise.name}}</md-option>
                            </md-select>
                          </div>
                        </div>
                    </div>
                    
                    <div layout="row" layout-wrap>
                        <md-input-container flex="50">
                            <label for="name">Nombre</label>
                            <input type="text" data-ng-model="taxcondition.name" id="name" required>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label for="taxPercentage">Porcentaje</label>
                            <input type="number" data-ng-model="taxcondition.taxPercentage" id="taxPercentage" required>
                        </md-input-container>
                        
                    </div>

                    
                    <!-- <md-input-container flex offset="33" style="width:33%">
                        <label for="unitsOnOrder">Unidades pedidas</label>
                        <input type="text" data-ng-model="unitsOnOrder" id="unitsOnOrder" required>
                    </md-input-container> -->

                </div>
                <div layout="row" layout-align="center">
                    <md-button type="submit" class="md-raised md-primary">Guardar</md-button>
                </div>
                <div layout="row" layout-align="center" data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>