<section data-ng-controller="PasswordController" layout="row" layout-fill class="login-background">

    <div layout="row" flex layout-fill layout-align="center">
        <div flex="40" flex-lg="50" flex-md="60" flex-sm="100" layout="column" layout-align="center center">
            <md-card>
                <md-toolbar>
                    <div layout="row" layout-align="center"><img src="/modules/core/img/brand/headerLogoIdees.png" class="logo-header" alt="IdeesManager - IDEES Consultora"></div>
                    <h1 layout="row" layout-align="center" class="md-headline" style="margin-bottom:15px">
                        Restaurar contraseña
                    </h1>
                </md-toolbar>

                <md-content class="md-padding">
                    <form data-ng-submit="askForPasswordReset()"autocomplete="off">
                        <fieldset>
                            <md-input-container>
                                <label for="username">Ingrese su nombre de usuario</label>
                                <input type="text" id="username" name="username" data-ng-model="credentials.username">
                            </md-input-container>
                            
                            <div layout="row" layout-align="center">
                                <md-button type="submit" class="md-raised md-primary" layout-fill>Enviar</md-button>
                            </div>
                            
                            <div layout="row" layout-align="center">
                                <md-button class="md-primary" data-ui-sref="authentication.signin" style="width:94%">Ya recordé! Ir a Iniciar Sesión</md-button>
                            </div>                        
                            
                            <div layout="row" layout-align="center" data-ng-show="error" class="text-danger">
                                <strong>{{error}}</strong>
                            </div>
                            <div  layout="row" layout-align="center" data-ng-show="success" class="text-success">
                                <strong>{{success}}</strong>
                            </div>
                        </fieldset>
                    </form>
                </md-content>
            </md-card>
        </div>
    </div>

</section>
