<section layout="column" layout-align="center" data-ng-controller="PasswordController">
    <h3 layout="row" layout-align="center">Resetee su contraseña</h3>
    <div>
        <form data-ng-submit="resetUserPassword()" autocomplete="off">
            <fieldset>
                <md-input-container flex offset="33" style="width:33%">
                    <label for="newPassword">Nueva contraseña</label>
                    <input type="password" id="newPassword" name="newPassword" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                </md-input-container>

                <md-input-container flex offset="33" style="width:33%">
                    <label for="verifyPassword">Verificar contraseña</label>
                    <input type="password" id="verifyPassword" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
                </md-input-container>

                <div layout="row" layout-align="center">
                    <md-button type="submit" class="md-raised md-primary">Actualizar contraseña</md-button>
                </div>
                

                <div layout="row" layout-align="center" data-ng-show="error" class="text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div layout="row" layout-align="center" data-ng-show="success" class="text-success">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
