<section style="height: 100%">
    <md-content class="infiniteScrollContainer" style="height: 100%">
        <div layout="row" layout-margin>
            <h2 class="md-display-1">{{impuestosName}}</h2>
        </div>

        <md-list-item class="highindex" ng-show="start">
            <div style="position: absolute; top: 60px; left: 50%;">
                <md-progress-circular class="report-spinner" md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-list-item>

        <div infinite-scroll="loadmore()" infinite-scroll-container="'.infiniteScrollContainer'" infinite-scroll-distance="4" infinite-scroll-disabled="loading || done">
            <md-list flex>
                <md-list-item>
                    <strong flex="20">Date</strong>
                    <strong flex="20">n de comprobante</strong>
                    <strong flex="20" ng-if="impuestosName == 'IVA Ventas'">Cliente</strong>
                    <strong flex="20" ng-if="impuestosName == 'IVA Compras'">Proveedor</strong>
                    <strong flex="20">Total</strong>
                    <strong flex="20">IVA Total</strong>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="min-height highindex" ng-repeat="item in impuestos | orderBy: '-created'">
                    <div flex="20" data-title="created" ng-if="item.price == undefined">{{item.created | date:'MMM d, y'}}</div>
                    <div flex="20" data-title="comprobante" ng-if="item.price == undefined">{{item.comprobante}}</div>
                    <div flex="20" data-title="client" ng-if="impuestosName == 'IVA Ventas' && item.price == undefined">{{item.cliente.name}}</div>
                    <div flex="20" data-title="client" ng-if="impuestosName == 'IVA Compras' && item.price == undefined">{{item.proveedor.name}}</div>
                    <div flex="20" data-title="total" ng-if="item.price == undefined">${{item.total | number : 2}}</div>
                    <div flex="20" data-title="iva" ng-if="item.price == undefined">${{item.totalTax | number : 2}}</div>

                    <div flex="20" data-title="created2" ng-if="item.price != undefined" style="color:red;">{{item.created | date:'MMM d, y'}}</div>
                    <div flex="60" data-title="observacion" ng-if="item.price != undefined" style="color:red;">{{item.observacion}}</div>
                    <div flex="20" data-title="price" ng-if="item.price != undefined" style="color:red;">${{item.price | number : 2}}</div>
                    <md-divider ng-if="!$last"></md-divider>
                    <md-list-item class="highindex" ng-show="start">
                        <div style="position: absolute; top: 60px; left: 50%;">
                            <md-progress-circular class="report-spinner" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </md-list-item>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
    <div class="fab-ventas" layout="row" layout-align="center center" layout-padding>
        <md-button aria-label="Volver" class="md-fab md-raised md-mini" data-ui-sref="home.viewImpuesto({centroDeCosto:impuestos.centroDeCosto})">
            <md-icon>
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-icon>
            <md-tooltip md-direction="top" md-autohide="true">Volver</md-tooltip>
        </md-button>
    </div>
</section>