<section data-ng-controller="SubsController" data-ng-init="findOne()">
	<md-content data-ng-show="((authentication.user.enterprise._id == sub.enterprise._id) || (authentication.user.roles[0] === 'groso'))">
		<md-list>
			<div layout="row" layout-padding>
				<div>
					<p>Nombre</p>
	              	<h2 class="md-display-1">{{sub.name}}</h2>
	            </div>
	        </div>
	        <div layout="row" layout-padding>
				<div>
					<p>Objetivos</p>
	              	<h2>{{sub.goals}}</h2>
	            </div>
	        </div>
			<div layout="row" layout-padding>
				<div>
					<p>Descripción</p>
	              	<h2>{{sub.description}}</h2>
	            </div>
				<div>
					<p>Fecha de creación</p>
	              	<h2>{{sub.created | date}}</h2>
	            </div>
	        	<div>
					<p>Creada por</p>
	              	<h2>{{sub.user.displayName}}</h2>
	            </div>
	        </div>
		</md-list>			
	</md-content>
</section>