
<md-dialog aria-label="Crear Transferencia">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo Factura</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon icon="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <form>
                <fieldset>
                    <div layout="row" layout-padding>
                        <div>
                            <p for="name">{{costosName}}</p>
                            <h2 class="md-headline">{{item.name}}</h2>
                        </div>
                        <span flex></span>
                        <div>
                            <h2 class="md-display-1">{{item.total | currency}}</h2>
                        </div>
                      
                    </div>
                    <div layout="row" layout-margin></div>
                    <div layout="row" layout-padding>
                        <!--<md-input-container flex>
                            <label>Caja Origen</label>
                            <md-select ng-model="caja" ng-change="errorCaja = undefined" md-on-open="findCajas()">
                                <md-option ng-repeat="caja in cajas | filter: { deleted: false } | orderBy : 'name'"
                                           ng-value="caja">{{caja.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>-->
                        <md-input-container>
                            <label for="montoC">numero de factura</label>
                            <input type="number" data-ng-model="numero" id="montoC" min="0"
                                    ng-keypress="createFactura($event,item)" value="0">
                        </md-input-container>
                        <md-input-container flex>
                            <label for="montoE">Monto</label>
                            <input type="number" data-ng-model="montoE" id="montoE" min="0" ng-keypress="createFactura($event,item)"
                                   value="0">
                        </md-input-container>
                        
                        <div layout="row" layout-align="center center" class="compras-custom-datepicker" style="padding-bottom: 30px">
                            <md-datepicker ng-model="facturaDate" md-placeholder="Fecha de Factura"></md-datepicker>
                        </div>
                        <!--<md-input-container ng-if="ctrl.costo">
                            <label for="FacturasAcumulados">Facturas Acumulados</label>
                            <input type="number" data-ng-model="FacturasAcumulados" id="FacturasAcumulados"
                                   ng-disabled="true">
                        </md-input-container>-->
                    </div>
                    <div layout="row" layout-padding>
                        <!-- <md-input-container flex ng-if="item.personal">
                            <label>Concepto</label>
                            <md-select ng-model="concepto" ng-change="assignConcepto(concepto)">
                                <md-option ng-repeat="concepto in item.userLogin.remuneraciones"
                                           ng-value="concepto">{{concepto.name}}
                                </md-option>
                            </md-select>
                        </md-input-container> -->
                        <md-input-container flex>
                            <label for="observaciones">Observaciones</label>
                            <textarea data-ng-model="observaciones" id="observaciones" ng-disabled="false"
                                      ng-keypress="createFactura($event,item)"></textarea>
                        </md-input-container>
                    </div>
                </fieldset>
            </form>
        </md-dialog-content>
        <md-dialog-actions>
            <div class="md-actions" layout="row">
                <!--<div class="anulado" ng-show="errorCaja">
                    {{errorCaja}}
                </div>-->
                <span flex></span>
                <md-button ng-click="closeDialog()" class="md-accent">
                    Cancelar
                </md-button>
                <md-button ng-click="createFactura($event,item)" ng-keypress="createFactura($event,item)" class="md-primary"
                           ng-disabled="apagarBoton">
                    Aceptar
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>