<section data-ng-controller="ChangePasswordController">
	<div layout="row" layout-align="center" layout-margin layout-padding>
		<div flex="66">
			<form data-ng-submit="changeUserPassword()" autocomplete="off">
				<fieldset>
					<md-input-container>
						<label for="currentPassword">Contraseña actual</label>
						<input type="password" id="currentPassword" name="currentPassword" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
					</md-input-container>

					<md-input-container>
						<label for="newPassword">Contraseña nueva</label>
						<input type="password" id="newPassword" name="newPassword" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
					</md-input-container>

					<md-input-container>
						<label for="verifyPassword">Verificar contraseña</label>
						<input type="password" id="verifyPassword" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
					</md-input-container>

					<div layout="row" layout-align="end">
						<md-button type="submit" class="md-raised md-primary">Guardar</md-button>
					</div>
					<div layout="row" layout-align="center" data-ng-show="success" class="text-success">
						<strong>Cambio de contraseña satisfactorio</strong>
					</div>
					<div layout="row" layout-align="center" data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>
