<section data-ng-controller="AuthenticationController">
    
    <md-toolbar>
        <div layout-margin layout-padding>
            <div layout="row" layout-align="center"><img src="/modules/core/img/brand/headerLogoIdees.png" class="logo-header" alt="IdeesManager - IDEES Consultora"></div>
            <h1 layout="row" layout-align="center" class="md-headline" style="margin-bottom:15px">
                Regístrese en Idees Manager
            </h1>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
		<form name="userForm" data-ng-submit="signup()" class="" novalidate autocomplete="off">
			<fieldset>
				<div layout="column" layout-align="center" layout-margin>
					<div layout="row">
						<md-input-container>
							<label for="firstName">Nombre</label>
							<input type="text" required id="firstName" name="firstName"
								   data-ng-model="credentials.firstName" placeholder="First Name">
						</md-input-container>
						<md-input-container>
							<label for="lastName">Apellido</label>
							<input type="text" id="lastName" name="lastName"
								   data-ng-model="credentials.lastName" placeholder="Last Name">
						</md-input-container>
					</div>
					<md-input-container>
						<label for="email">Email</label>
						<input type="email" id="email" name="email" data-ng-model="credentials.email"
							   placeholder="Email">
					</md-input-container>
					<div layout="row">
						<md-input-container>
							<label for="username">Nombre de Usuario</label>
							<input type="text" id="username" name="username" data-ng-model="credentials.username" placeholder="Username">
						</md-input-container>
						<md-input-container>
							<label for="password">Contraseña</label>
							<input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="Password">
						</md-input-container>
					</div>
				</div>
				<div layout="row" layout-align="center">
					<md-button type="submit" class="md-raised md-primary" layout-fill>Registrarse</md-button>
				</div>

				<div layout="row" layout-align="center">
					<md-button class="md-primary" data-ui-sref="authentication.signin" style="width:94%">Iniciar Sesión</md-button>
				</div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</md-content>

</section>